body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0.2,0.2,0.2);
}

.modal {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    overflow: hidden;
    text-align: center;
    align-items: center;
    justify-content: center;
    /*justify-content: space-between;*/
    flex-direction: column; /* add column flex direction */
}

.modal-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(8px);
    transform: translate(0%, 5%) scale(1.2);
    z-index: -1;
    transition: filter 0.3s ease;
}

.modal-bg-gray
{
    filter: grayscale(100%) blur(8px);
}

.modal-img-container
{
    flex-basis: 80%;
    margin: 20px;
    display: block;
    object-fit: contain;
    max-width: calc(100% - 40px); /* 20px margin on left and right */
    max-height: calc(100% - 40px); /* 20px margin on top and bottom */
    /*border: calc(100% * min(100vw, 100vh)) solid transparent; !* fallback border width *!*/
}

.modal-img {
    /*flex-basis: 80%;*/
    /*margin: 20px;*/
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
    /*max-width: calc(100% - 40px); !* 20px margin on left and right *!*/
    /*max-height: calc(100% - 40px); !* 20px margin on top and bottom *!*/
    /*border: calc(100% * min(100vw, 100vh)) solid transparent; !* fallback border width *!*/
    transition: filter 0.2s ease;
}

.modal-img-darken
{
    filter: brightness(50%); /* Adjust the percentage value for desired darkness */
}

.modal-img-gray
{
    filter: grayscale(100%);
}

.magnification
{
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    display: none;
}

.modal-img, .magnification
{
    cursor: url("/static/cursor-transp.png") , auto;
}

.cursor-stop-m2 {cursor: url("/static/cursor-solid-4.5.png") , auto !important;}
.cursor-stop-m1 {cursor: url("/static/cursor-solid-9.png") , auto !important;}
.cursor-stop-0 {cursor: url("/static/cursor-solid-18.png") , auto !important;}
.cursor-stop-p1 {cursor: url("/static/cursor-solid-36.png") , auto !important;}
.cursor-stop-p2 {cursor: url("/static/cursor-solid-72.png") , auto !important;}

.modal-button-prev, .modal-button-next
{
    position: relative;
    bottom: 4%;
    opacity: 0.1;
    width: calc(3vh);
    height: calc(3vh);
    transition: opacity 0.2s;
}
.modal-button-prev:hover, .modal-button-next:hover
{
    opacity: 0.7;
}
.modal-button-next
{
    right: -43%;
}
.modal-button-prev
{
    left: -43%;
}

.dir-link
{
    width: 15px;
    height: 15px;
}


.modal-controls {
    display: flex;
    min-width: 300px;
    flex-direction: column; /* add column flex direction */
    align-items: center;
    /*flex-wrap: wrap;*/
    align-self: flex-start;
    /*justify-content: space-between;*/
}
.modal-controls .row {
    display: flex;
    flex-direction: row; /* change to row */
    align-items: center;
    justify-content: center; /* add justify-content */
}

.modal-controls select,
.modal-controls button {
    margin: 3px;
}

.modal-controls .space
{
    margin-left: 10px;
}

@media only screen and (max-width: 768px) {
    .modal img {
        max-height: 80%;
        flex-basis: 100%;
    }
}

span #time-current {
    display: inline-block;
    width: 40px;
    text-align: right;
}

.timer-icon
{
    width: 25px;
    height: 25px;
    background-size: cover;
    background-image: url("/static/timer.png");
}

.fav
{
    width: 25px;
    height: 25px;
    background-size: cover;
    background-image: url("/static/fav_off.png");
}

.on
{
    background-image: url("/static/fav_on.png");
}

@keyframes rotateFav {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading-fav {
  animation: rotateFav 2s linear infinite;
}

.rate-up, .rate-dn
{
    width: 25px;
    height: 25px;
    background-size: cover;
    border: none;
    padding: 2px;
}
.rate-up {background-image: url("/static/arrow_up.png");}
.rate-dn {background-image: url("/static/arrow_down.png");}

.popup {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 10px;
  display: none;
}

.popup-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#copyButton {
  margin-left: 10px;
}